<div class="container banner d-flex justify-content-between align-items-center pt-4 mb-4">
  <h2>menu</h2>
  <span class="btn"><%= link_to 'Add a new cocktail', new_cocktail_path %></span>
</div>

<div class="container d-flex flex-wrap justify-content-around">
  <% @cocktails.each do |cocktail| %>
    <div class="card mb-4" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('<%= cl_image_path cocktail.photo.key, height: 300, width: 280, crop: :fill %>')">
      <%# <%= cl_image_tag(cocktail.photo.key, width: 280, height: 240, crop: :fill) %>
      <%= link_to "#{cocktail.name}", cocktail %>
    </div>
  <% end %>
</div>

<%# <div class="card mb-4" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(<%= cl_image_path cocktail.photo.key, height: 250 %>
